<div class="jumbotron">
  <div class="container">
    <h1>Adventures of ArrowHead</h1>
    <p>Game Guide</p>
    <%= link_to "please sign up!", new_user_path, class:"btn btn-lg btn-primary" %>
    
     <%=  %>
  </div>
</div>
