@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron {
  background-image:none('streets.jpg'); 
   background-color: #000; 
  height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}
